* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.app {
  display: grid;
  grid-template-areas: 
  "header header"
  "menu news"
  "menu news";
  grid-template-columns: 10% 90%;
  background: #141527;
  height: 100vh;
  text-align: center;
  width: 100%;
  color: aliceblue
}

.header {
  grid-area: header;
}

.news-Container {
  grid-area: news;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr
}

